@model IEnumerable<DatTour.Models.Tour>
    <!-- Packages Start -->
    <div class="container-fluid py-5">
        <div class="container pt-5 pb-3">
            <div class="text-center mb-3 pb-3">
                <h6 class="text-primary text-uppercase" style="letter-spacing: 5px;">@ViewData["tenDiaDiem"]</h6>
                <h1>Pefect Tour Packages</h1>
                <h5>Điểm đánh giá: @ViewBag.DiemDanhGia</h5>
                <a asp-action="Index" asp-controller="DanhGiaDiaDiems" asp-route-id="@ViewData["id"]" style="text-decoration: none">Đánh giá địa điểm</a>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    TimeSpan duration = item.NgayDi.Subtract(item.NgayVe);
                    String day = $"{duration.Days}";

                            <div class="col-lg-4 col-md-6 mb-4">
                                <div class="package-item bg-white mb-2">
                                    <img class="img-fluid" src=@("/img/" + item.HinhAnh) alt="">
                                    <div class="p-4">
                                        <div class="d-flex justify-content-between mb-3">
                                            <small class="m-0"><i class="fa fa-map-marker-alt text-primary mr-2"></i>@item.DiaDiemDuLich.TenDiaDiem</small>
                                            <small class="m-0"><i class="fa fa-calendar-alt text-primary mr-2"></i>@day ngày</small>
                                            <small class="m-0"><i class="fa fa-user text-primary mr-2"></i>@item.SoCho người</small>
                                        </div>
                                        <a class="h5 text-decoration-none" asp-action="Details" asp-route-id="@item.ID">@item.TenTour</a>
                                        <div class="border-top mt-4 pt-4">
                                            <div class="d-flex justify-content-between">
                                                <h6 class="m-0"><i class="fa fa-star text-primary mr-2"></i>4.5 <small>(250)</small></h6>
                                                <h5 class="m-0">@item.GiaTien VND</h5>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                 }
                </div>
        </div>
    </div>
    <!-- Packages End -->
